#body-header {
    background-color: black;
    color: white;
}

#search-aside {
    background-color: whitesmoke;
}

#search-input-section {}

#search-form {}

#search-label {
    margin-top: 8px;
    font-size: 1.5em;
    font-weight: bold;
}

.search-input {
    width: 75%;
}

#city-search-input {}

#country-search-input {}

#search-button {
    background-color: royalblue;
    color: white;
}

#search-history-list {
    list-style: none;
}

.search-list-item {}

.search-list-button {
    width: 100%;
    padding: 10px;
    border-width: 1px;
    background-color: white;
    text-align: left;
}

.delete-search-button {
    margin-right: 10px;
}

#current-section {
    margin: 10px 0px 10px 0px;
    border: 1px solid black;
}

#current-heading {}

#current-icon {
    height: 80px;
    margin-left: 5px;
}

#current-main {}

.current-info {}

#forecast-section {}

#forecast-heading {
    margin-bottom: 8px;
}

#forecast-dailies {}

.forecast-daily {
    background-color: royalblue;
    color: white;
    margin: 8px 8px 0px 0px;
}