/* colour variables */

:root {
    --darkest: #091D34;
    --dark: #133863;
    --newTeal: #92bdd3;
    --mid: #236AB9;
    --light: #609CE1;
    --lightest: #E1ECF9;
}


/* body */

body {
    background-color: var(--lightest);
    font-family: 'Open Sans Condensed', sans-serif;
}


/* document header */

#body-header {
    background-color: var(--dark);
    color: var(--lightest);
}

#body-header h1 {
    margin-top: 8px;
    font-weight: 700;
}


/* aside search bar */

#search-aside {
    background-color: var(--dark);
    color: var(--lightest);
}


/* label for search input */

#search-label {
    margin-top: 8px;
    font-size: 1.5em;
    font-weight: bold;
}


/* search input box */

.search-input {
    width: 75%;
}


/* search button */

#search-button {
    background-color: var(--mid);
    color: var(--lightest);
}


/* search history list of buttons */

#search-history-list {
    list-style: none;
}


/* search history buttons */

.search-list-button {
    width: 100%;
    padding: 10px;
    border-width: 1px;
    background-color: var(--lightest);
    text-align: left;
    color: var(--darkest);
}


/* delete search history buttons */

.delete-search-button {
    margin-right: 10px;
}


/* city display section */

.city-section {
    background-color: var(--dark);
}


/* main current day weather section */

#current-section {
    background-color: #b6d3e2;
    color: var(--dark);
    font-weight: bold;
    margin-right: -7px;
}


/* current heading */

#current-heading {
    font-weight: bold;
}


/* current info section */

.current-info {
    font-size: 1.5em;
}


/* current day weather icon */

#current-icon {
    height: 80px;
    margin-left: 5px;
}


/* current day uv index element */

#current-uv-index-span {
    padding: 0.3em;
    border: 1px solid var(--darkest);
}


/* forecast display section */

#forecast-section {
    background-color: var(--dark);
}


/* 5 day forecast heading */

#forecast-heading {
    color: var(--lightest);
}

#forecast-heading h2 {
    margin-top: 0.5rem;
    font-weight: 700;
}


/* 5 day forecast divs */

.forecast-daily {
    background-color: var(--newTeal);
    color: var(--dark);
    margin: 0px 8px 8px 0px;
    font-weight: 700;
}

.forecast-daily h3 {
    margin-top: 8px;
    font-weight: 700;
}


/* 5 day forecast icons */

.forecast-icon {
    height: 40px;
}